@page
@using Joga.model;
@using Joga.services;
@model Joga.Pages.Admin.HoldListeModel
@{
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Holdnummer</th>
            <th>Holdnavn</th>
            <th>Beskrivelse af hold</th>
            <th>Antal Tilmeldte</th>
            <th></th>
            <th></th>
            <th>Slet kunde</th>
        </tr>
    </thead>
    <form method="post">
    <tbody>
        @foreach (Hold h in Model.Hold)
        {
            <tr>
                <td>@h.holdNummer</td>
                <td>@h.holdNavn</td>
                <td>@h.holdBeskrivelse</td>
                <td>@h.holdMedlemListe.Count</td>
                <td></td>
                <td></td>
                <td> <a asp-page="Deletehold" asp-route-deleteholdnummer="@h.holdNummer"> Slet </a> </td>
            </tr>
        }
    </tbody>
    </form>
</table>
